<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taylor Swift</title>
</head>
<body>
    <img src="../images/taylor-1.jpg" alt="Foto Taylor Swift" width="300px">
    <img src="../images/taylor-2.jpg" alt="Foto Taylor Swift" width="300px">
    <img src="../images/taylor-3.jpg" alt="Foto Taylor Swift" width="300px">
    <img src="../images/taylor-4.jpg" alt="Foto Taylor Swift" width="300px">
</body>
</html>